    <div class="container">
        <h3 class="title"><i class="fa fa-book"></i> Cadastre um Livro</h3>
        <pre>{{response}}</pre>
        <div class="row col-md-4">
            <form name="registerBook" ng-submit="registerNewBook(registerBook.$valid)" novalidate>               
                <div id="name-group" class="form-group-lg">
                    <input type="text"
                           required
                           name="name"
                           ng-model="userfullName"
                           class="form-control"
                           placeholder="Full Name">
                </div>
                <div id="form-group" class="form-group-lg">
                	<input class="form-control">
                </div>
				<div id="name-group" class="form-group-lg">
                 	<button type="submit" ng-disabled="!registerBook.$valid"
                 	 class="form-control btn btn-info">
                        Register
                </button>
            </form>
        </div>          
    </div>