    <div class="container">
        <h3 class="title"><i class="fa fa-book"></i> Cadastre um Livro</h3>              
        <div class="row col-md-12">
            <form method="post" id="registerBook" name="registerBook" novalidate>
                <div id="left" class="col-md-4">
                    <div id="form-group" class="form-group-lg" ng-class="{'has-error': registerBook.field_isbn.$invalid && !registerBook.field_isbn.$pristine }">
                        <label for="field_isbn">ISBN</label>
                    	<input  type="text"
                                class="form-control"
                                id="field_isbn"
                                name="field_isbn"
                                ng-model="newBook.isbn"
                                placeholder="Digite o ISBN do livro"
                                ui-mask-placeholder
                                ui-mask="999-99-999-9999-9"
                                maxlength="13" 
                                required>
                    </div>
                    <br>
                    <div id="form-group" class="form-group-lg" ng-class="{'has-error': registerBook.field_title.$invalid && !registerBook.field_title.$pristine }">
                        <label for="field_title">Título</label>
                        <input  type="text"
                                class="form-control"
                                id="field_title"
                                name="field_title"
                                ng-model="newBook.title"
                                placeholder="Digite o título do livro"
                                required>
                    </div>
                </div>
                <div id="right" class="col-md-4">
                    <div id="form-group" class="form-group-lg" ng-class="{'has-error': registerBook.field_author.$invalid && !registerBook.field_author.$pristine }">
                        <label for="field_author">Autor</label>
                        <input  type="text"
                                class="form-control"
                                id="field_author"
                                name="field_author"
                                ng-model="newBook.author"
                                placeholder="Digite o autor deste livro"
                                required>
                    </div>
                    <br>
                    <div id="form-group" class="form-group-lg" ng-class="{'has-error': registerBook.field_edition.$invalid && !registerBook.field_edition.$pristine }">
                        <label for="field_author">Edição</label>
                        <input  type="text"
                                class="form-control"
                                id="field_edition"
                                name="field_edition"
                                ng-model="newBook.edition"
                                placeholder="Digite a edição deste livro"
                                ui-mask-placeholder
                                ui-mask="9?9"
                                maxlength="2" 
                                required>
                    </div>
                    <br>
                </div>
                <div id="alertBox" class="col-md-4">
                    <pre>{{response}}</pre>  
                    <pre>{{newBook}}</pre>
                </div>             
                <br>                
				<div id="form-group" class="form-group-lg col-md-8">
                 	<button type="submit" ng-disabled="!registerBook.$valid"
                 	 class="form-control btn btn-success"
                     ng-click="registerNewBook(registerBook.$valid)">
                        <i class="fa fa-floppy-o"></i> Cadastrar Livro
                    </button>
                </div>
            </form>
        </div>
    </div>