    <div class="container">
        <h3 class="title"><i class="fa fa-book"></i> Listagem de Livros</h3>

        <div class="alert alert-success alert-dismissible" role="alert" ng-if="!flashMessage == ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span>
                <strong ng-bind-template="{{flashMessage.defaultMessage}} : Título: {{flashMessage.objectAttributes.title}} e ISBN: {{flashMessage.objectAttributes.isbn}}"></strong>
            </span>
        </div>
        <table class="table table-hover table-bordered table-striped" 
            ng-if="hasBooks && errorMessage == ''">
            <div class="alert alert-warning" role="alert" ng-if="!hasBooks && !errorMessage">
                <span>Não há nenhum livro a ser visualizado.</span>
            </div>
            <div class="alert alert-danger" role="error" ng-if="!errorMessage == ''">
                <span ng-cloak>
                    <i class="fa fa-exclamation-circle"></i> {{errorMessage}}
                </span>
            </div>
            <tr>
                <td class="text-center">ISBN</td>
                <td class="text-center">Título</td>
                <td class="text-center">Autor</td>
                <td class="text-center">Edição</td>
                <td class="text-center">Editar</td>
                <td class="text-center">Excluir</td>
            </tr>
            <tr ng-repeat="book in books | orderBy: 'isbn'">
                <td>{{book.isbn}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.edition}}</td>
                <td class="col-md-1">
                    <a class="btn btn-warning center-block">
                        <i class="fa fa-pencil-square-o"></i> Editar
                    </a>
                </td>
                <td class="col-md-1">
                    <a class="btn btn-danger center-block" ng-click="deleteBook(book.isbn);">
                        <i class="fa fa-trash"></i> Excluir
                    </a>
                </td>
            </tr>
        </table>
    </div>