    <div class="container">
        <h3 class="title"><i class="fa fa-book"></i> Listagem de Livros</h3>

        <div class="alert alert-success alert-dismissible" role="alert" ng-if="!flashMessage == ''">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span>
                <strong ng-bind-template="{{flashMessage.defaultMessage}} : Título: {{flashMessage.objectAttributes.title}} e ISBN: {{flashMessage.objectAttributes.isbn}}"></strong>
            </span>
        </div>
        <section id="paginationSection" ng-hide="!hasBooks && !errorMessage == ''">
            <div class="row">
                <div class="col-md-4">
                   <h5>Página atual: {{ pagination.currentPage }}</h5>
                </div>
                <div class="col-md-4">
                   <label for="search">Procurar por:</label>
                   <input ng-model="searchText" id="search" class="form-control" placeholder="Título, ISBN, autor?">
                </div>
                <div class="col-md-4">
                   <label for="amount">Livros por página:</label>               
                   <input type="number" min="1" max="100" class="form-control" ng-model="pagination.pageSize"
                    minlength="1" maxlength="3" pattern="[1-9]{1,3}">
                </div>
            </div>
        </section>        
        <br/>
        <div ng-switch="(books | filter:searchText).length">            
            <div class="alert alert-warning" role="alert" ng-switch-when="0" 
                 ng-if="hasBooks && errorMessage == ''">
                <span><i class="fa fa-question-circle"></i> Nenhum livro foi encontrado...</span>
            </div>
            <table class="table table-hover table-bordered table-striped" 
                ng-if="hasBooks && errorMessage == ''" ng-switch-default>

                <div class="alert alert-warning" role="alert" ng-if="!hasBooks && !errorMessage">
                    <span>Não há nenhum livro a ser visualizado.</span>
                </div>
                <div class="alert alert-danger" role="error" ng-if="!errorMessage == ''">
                    <span ng-cloak>
                        <i class="fa fa-exclamation-circle"></i> {{errorMessage}}
                    </span>
                </div>            
                <tr>
                    <td class="text-center">ISBN</td>
                    <td class="text-center">Título</td>
                    <td class="text-center">Autor</td>
                    <td class="text-center">Edição</td>
                    <td class="text-center">Editar</td>
                    <td class="text-center">Excluir</td>
                </tr>            
                <tr dir-paginate="book in books | orderBy: 'isbn' | filter: searchText |    itemsPerPage: pagination.pageSize" current-page="pagination.currentPage">
                    <td>{{book.isbn}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.author}}</td>
                    <td>{{book.edition}}</td>
                    <td class="col-md-1">
                        <button type="button" 
                                class="btn btn-warning center-block" 
                                data-toggle="modal" 
                                data-target="#modalEdicao"
                                ng-click="copyBookModel(book);"
                                data-model="{{preUpdatedModel}}">
                                <i class="fa fa-pencil-square-o"></i> Editar
                        </button>                        
                    </td>
                    <td class="col-md-1">
                        <a class="btn btn-danger center-block" ng-click="deleteBook(book);">
                            <i class="fa fa-trash"></i> Excluir
                        </a>
                    </td>
                </tr>
                <section ng-include="'assets/views/partial-books-modal.html'" ng-if="hasBooks">
                </section>
            </table>
        </div>
        <div class="text-center">
            <dir-pagination-controls
                boundary-links="true" 
                template-url="assets/views/dirPagination.tpl.html">
            </dir-pagination-controls>
        </div>
    </div>