/* Palette URL: http://paletton.com/#uid=72S0C0kkKp-6nOBedwfq9jVAjbn */
.bg-color-primary-0 {
  background-color: #379c48;
}
.bg-color-primary-0-1 {
  background-color: #5fb76e;
}
.bg-color-primary-1 {
  background-color: #bae8c2;
}
.bg-color-primary-2 {
  background-color: #6dc47c;
}
.bg-color-primary-3 {
  background-color: #167928;
}
.bg-color-primary-4 {
  background-color: #00450c;
}
.bg-color-secondary-1-0 {
  background-color: #326482;
}
.bg-color-secondary-1-1 {
  background-color: #b2ccdb;
}
.bg-color-secondary-1-2 {
  background-color: #5f8aa3;
}
.bg-color-secondary-1-3 {
  background-color: #174865;
}
.bg-color-secondary-1-4 {
  background-color: #03253a;
}
.bg-color-secondary-2-0 {
  background-color: #cc9048;
}
.bg-color-secondary-2-1 {
  background-color: #ffe8cc;
}
.bg-color-secondary-2-2 {
  background-color: #ffcc8e;
}
.bg-color-secondary-2-3 {
  background-color: #9f641d;
}
.bg-color-secondary-2-4 {
  background-color: #5b3200;
}
.bg-color-complement-0 {
  background-color: #cc5148;
}
.bg-color-complement-1 {
  background-color: #ffd0cc;
}
.bg-color-complement-2 {
  background-color: #ff968e;
}
.bg-color-complement-3 {
  background-color: #9f261d;
}
.bg-color-complement-4 {
  background-color: #5b0700;
}
/* variables */
/* end variables */
body {
  font-weight: 500;
  background: url("../images/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* nav */
.link {
  cursor: pointer;
  cursor: hand;
}
.brand > a,
.brand > i {
  color: white !important;
}
.brand > a:hover,
.brand > i:hover {
  text-shadow: 0px 3px 3px #379c48;
}
.brand,
.brand:hover,
.navbar-nav > li:hover {
  transition: text-shadow 0.1s ease-in-out;
}
.navbar li:hover {
  text-shadow: 0px 3px 3px #379c48;
  background-color: #5fb76e;
  border-bottom: 2px solid white;
}
.navbar li a {
  color: white !important;
}
/* end nav */
/* partials */
.title {
  font-weight: 500;
  padding-top: 70px;
}
/* end partials */
/* alert colors */
.alert-danger {
  background-color: #cc5148;
}
.alert-warning {
  background-color: #cc9048;
}
.alert-info {
  background-color: #5f8aa3;
}
.alert-success {
  background-color: #6dc47c;
}
/* end alert colors */
