@import 'colors.less';
	
	/* variables */ 
	@default-font-weight:500;
	@default-font-size:1.1em;
	@color-white:white;
	@color-default:@color-primary-0;
	@color-default-darken:@color-primary-0-1;
	@color-danger:#CC5148;
	@color-warning:#CC9048;
	@color-info:#5F8AA3;
	@color-success:#6DC47C;
	@color-disabled:#DDD;
	/* end variables */ 

	body{
		font-weight: @default-font-weight;
		background: url("../images/bg.png") no-repeat center center fixed; 
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}

	/* nav */
	.link{
		cursor:pointer;
		cursor:hand;
	}
	.brand > a,.brand > i{
		color:@color-white !important;

		&:hover{
			text-shadow: 0px 3px 3px @color-default;
		}
	}
	.brand,.brand:hover,.navbar-nav > li:hover{
		transition: text-shadow 0.1s ease-in-out;
	}
	.navbar{
		li{		
			border-bottom: 2px solid transparent;
			&:hover{	
				text-shadow: 0px 3px 3px @color-default;			
				background-color:@color-default-darken;
				border-bottom: 2px solid @color-white;
			}
		}
		li{			
			a{
				font-size: @default-font-size;
				color:@color-white !important;				
			}
		}
	}
	/* end nav */

	/* partials */
	.title{
		font-weight: @default-font-weight;
		padding-top: 70px;
	}
	table{
		background-color: @color-white;
	}
	.scroll{
		overflow-y: auto;
		min-height: 230px;
	}
	/* end partials */

	/* forms */
	.borderline(@color){
		-webkit-box-shadow: inset 0 -2px 0 @color !important;
	   	box-shadow: inset 0 -2px 0 @color !important;
	}

	textarea,
	textarea.form-control,
	input.form-control,
	input[type=text],
	input[type=password],
	input[type=email],
	input[type=number],
	[type=text].form-control,
	[type=password].form-control,
	[type=email].form-control,
	[type=tel].form-control,
	[contenteditable].form-control {
	  &:focus{
	    .borderline(@color-secondary-1-1);
	  }  
	}

	.btn-success.disabled, .btn-success[disabled]{
    	background-color: @color-disabled;
    	border-color: transparent;    	
    	&:hover,&:active{
    		background-color: @color-disabled;
    		border-color: transparent;
    		cursor: not-allowed;
    		text-shadow: none;
    		-webkit-box-shadow:none;
    		box-shadow: none;
    	}
	}

	.btn-success {
	    color: #ffffff;
	    background-color: @color-success;
	    border-color: transparent;
	    &:hover,&:active,&:focus{
	    	background-color: @color-success;
	    	text-shadow: 0px 3px 3px @color-default;
	    	-webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);	    	
    		box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    	    -webkit-transition: all .3s ease-out;
		    -moz-transition: all .3s ease-out;
		    -o-transition: all .3s ease-out;
		    -ms-transition: all .3s ease-out;
		    transition: all .3s ease-out;
	    }
	}

	.has-error{
	    .borderline(@color-danger);
	}

	.errorText{
		div{
			margin-top: 1em;
			background-color: @color-complement-1;
			color: @color-complement-3;
			padding-left:0.5em;
			padding-right:0.5em;
		}		
	}

	#form-group{
		.ng-valid{
			.borderline(@color-success);
		}
	}
	/* end forms */

	/* alert colors */
	.alert{
		span{
			font-size: @default-font-size;
		}
	}
	.alert-danger{
		background-color: @color-danger;
	}
	.alert-warning{
		background-color: @color-warning;
	}	
	.alert-info, .btn-info {
    	background-color: @color-info;
	}
	.alert-success, .btn-success {
    	background-color: @color-success;
	}
	/* end alert colors */

	/* button colors */
	.btn-danger {
    	background-color: @color-danger;
    	&:hover,&:focus{
    		background-color: @color-complement-3;
    	}
	}
	.btn-warning {
    	background-color: @color-warning;
    	&:hover,&:focus{
    		background-color: @color-secondary-2-3;
    	}
	}
	/* end button colors */ 

	/* pagination */
	.pagination >{
		.active >{
			a{
				background-color: @color-success;
    			border-color: @color-success;
				&:hover,&:focus{
					background-color: @color-success;
    				border-color: @color-success;
				}
			}
			span{
				background-color: @color-success;
    			border-color: @color-success;
				&:hover,&:focus{
					background-color: @color-success;
    				border-color: @color-success;
				}
			}
		}
		li >{
			a{
				color: @color-success;
				&:hover{
					color: @color-success;
				}
			}
		}
	}
	/* end pagination */ 