/* Palette URL: http://paletton.com/#uid=72S0C0kkKp-6nOBedwfq9jVAjbn */
.bg-color-primary-0 {
  background-color: #379c48;
}
.bg-color-primary-0-1 {
  background-color: #5fb76e;
}
.bg-color-primary-1 {
  background-color: #bae8c2;
}
.bg-color-primary-2 {
  background-color: #6dc47c;
}
.bg-color-primary-3 {
  background-color: #167928;
}
.bg-color-primary-4 {
  background-color: #00450c;
}
.bg-color-secondary-1-0 {
  background-color: #326482;
}
.bg-color-secondary-1-1 {
  background-color: #b2ccdb;
}
.bg-color-secondary-1-2 {
  background-color: #5f8aa3;
}
.bg-color-secondary-1-3 {
  background-color: #174865;
}
.bg-color-secondary-1-4 {
  background-color: #03253a;
}
.bg-color-secondary-2-0 {
  background-color: #cc9048;
}
.bg-color-secondary-2-1 {
  background-color: #ffe8cc;
}
.bg-color-secondary-2-2 {
  background-color: #ffcc8e;
}
.bg-color-secondary-2-3 {
  background-color: #9f641d;
}
.bg-color-secondary-2-4 {
  background-color: #5b3200;
}
.bg-color-complement-0 {
  background-color: #cc5148;
}
.bg-color-complement-1 {
  background-color: #ffd0cc;
}
.bg-color-complement-2 {
  background-color: #ff968e;
}
.bg-color-complement-3 {
  background-color: #9f261d;
}
.bg-color-complement-4 {
  background-color: #5b0700;
}
/* variables */
/* end variables */
body {
  font-weight: 500;
  background: url("../images/bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* nav */
.link {
  cursor: pointer;
  cursor: hand;
}
.brand > a,
.brand > i {
  color: white !important;
}
.brand > a:hover,
.brand > i:hover {
  text-shadow: 0px 3px 3px #379c48;
}
.brand,
.brand:hover,
.navbar-nav > li:hover {
  transition: text-shadow 0.1s ease-in-out;
}
.navbar li {
  border-bottom: 2px solid transparent;
}
.navbar li:hover {
  text-shadow: 0px 3px 3px #379c48;
  background-color: #5fb76e;
  border-bottom: 2px solid white;
}
.navbar li a {
  font-size: 1.1em;
  color: white !important;
}
/* end nav */
/* partials */
.title {
  font-weight: 500;
  padding-top: 70px;
}
table {
  background-color: white;
}
.scroll {
  overflow-y: auto;
  min-height: 230px;
}
/* end partials */
/* forms */
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
  -webkit-box-shadow: inset 0 -2px 0 #b2ccdb !important;
  box-shadow: inset 0 -2px 0 #b2ccdb !important;
}
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #dddddd;
  border-color: transparent;
}
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
.btn-success.disabled:active,
.btn-success[disabled]:active {
  background-color: #dddddd;
  border-color: transparent;
  cursor: not-allowed;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-success {
  color: #ffffff;
  background-color: #6dc47c;
  border-color: transparent;
}
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  background-color: #6dc47c;
  text-shadow: 0px 3px 3px #379c48;
  -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.has-error {
  -webkit-box-shadow: inset 0 -2px 0 #cc5148 !important;
  box-shadow: inset 0 -2px 0 #cc5148 !important;
}
.errorText div {
  margin-top: 1em;
  background-color: #ffd0cc;
  color: #9f261d;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#form-group .ng-valid {
  -webkit-box-shadow: inset 0 -2px 0 #6dc47c !important;
  box-shadow: inset 0 -2px 0 #6dc47c !important;
}
/* end forms */
/* alert colors */
.alert span {
  font-size: 1.1em;
}
.alert-danger {
  background-color: #cc5148;
}
.alert-warning {
  background-color: #cc9048;
}
.alert-info,
.btn-info {
  background-color: #5f8aa3;
}
.alert-success,
.btn-success {
  background-color: #6dc47c;
}
/* end alert colors */
/* button colors */
.btn-danger {
  background-color: #cc5148;
}
.btn-danger:hover,
.btn-danger:focus {
  background-color: #9f261d;
}
.btn-warning {
  background-color: #cc9048;
}
.btn-warning:hover,
.btn-warning:focus {
  background-color: #9f641d;
}
/* end button colors */
/* pagination */
.pagination .active a {
  background-color: #6dc47c;
  border-color: #6dc47c;
}
.pagination .active a:hover,
.pagination .active a:focus {
  background-color: #6dc47c;
  border-color: #6dc47c;
}
.pagination .active span {
  background-color: #6dc47c;
  border-color: #6dc47c;
}
.pagination .active span:hover,
.pagination .active span:focus {
  background-color: #6dc47c;
  border-color: #6dc47c;
}
.pagination li a {
  color: #6dc47c;
}
.pagination li a:hover {
  color: #6dc47c;
}
/* end pagination */
